@import "formulario_pedidos"

#conteudo-esquerda-pedido
    float: left
    height: 100%
    width: 280px
    +box-sizing(border-box)
    padding: 30px 20px
    
    .hr
        height: 1px
        margin: 0 auto
        background: $azul-barriga
    
    
    #box-monica-nana
        color: $azul-barriga
        text-align: center
        text-transform: uppercase
        margin: 0 auto 20px
        width: 237px
        height: 226px
        background: image_url('box_monica_nana.png') 0 0 no-repeat
        padding-top: 40px
        +box-sizing(border-box)                            
        .hr
            width: 60%
            margin: 5px auto 10px
        .cruzes
            width: 102px
            height: 12px
            margin: 4px auto
            background: image_url('cruz_malta_5x.png')
    p#atendemos
        font-size: 14px
        color: $marrom-barriga
        text-align: center

#conteudo-direita-pedido
    width: 420px
    height: 100%
    +box-sizing(border-box)
    padding: 20px 20px
    color: $azul-barriga
    float: right
    background: image_url('pedidos_simbolo_fundo.png') right top no-repeat
    p#se_preferir
        font-weight: bold
        margin: 5px 0 20px

#confirmacao-pedido
    display: none
    width: 100%
    height: 100%
    background: image_url("pedido_caixa.jpg")
    #placa-confirmacao-pedido
        $placa-confirmacao-pedido-width: 435px
        $placa-confirmacao-pedido-height: 45px
        width: $placa-confirmacao-pedido-width
        height: $placa-confirmacao-pedido-height
        +align-center
        background: image_url("placa_pedido_confirmacao_com_texto.png") 0 0 no-repeat
        position: absolute
        bottom: 10px
        left: ($conteudo-width / 2) - ($placa-confirmacao-pedido-width / 2)