@charset "utf-8"
                
// variáveis customizadas do bootstrap
$baseFontFamily: Georgia, serif
$baseFontSize: 14px
$baseLineHeight: 20px

@import "compass"
@import "compass/css3"
@import "bootstrap"

+global-reset

$font-color: #2A2A2A

$size-top-moldura: 125px
$size-bottom-moldura: 125px
$size-left-moldura: 145px
$size-right-moldura: 145px
$conteudo-height: 354px


$azul-barriga: #101C40
$beje-barriga: #CFCBB5
$beje-escuro-barriga: #8D7C52
$grey-barriga: #A6A6A6
$marrom-barriga: #615646



@import "menu"


@mixin align-center
    margin-left: auto
    margin-right: auto


body 
    font-family: $baseFontFamily 
    color: $font-color
    font-size: $baseFontSize
    line-height: $baseLineHeight
    background-image: image_url("textura-bg.gif")
p
    margin-bottom: 1em


#logo
    width: 315px
    height: 107px
    +align-center
    position: relative
    top: 55px


#moldura
    width: 1000px
    height: 609px
    +align-center
    background-image: image_url("frame.jpg")
    +box-sizing(border-box)
    padding: 130px 145px 127px
    
    #conteudo
        width: 100%
        height: 100%
        +align-center
        background-image: image_url("sombra.png")
        #mySlider
            width: 100%
            height: 100%
            .royalControlNavOverflow
                display: none
        .legenda
            width: 413px
            position: relative
            margin-top: 10px
            z-index: 50
            +align-center
        @import "pagina_pedido"
        #historico-slider
            width: 300px
            height: 100%
            float: left
            .royalControlNavOverflow
                display: none
            .royalCaption
                top: 307px
                +box-sizing(border-box)
                height: 45px
                width: 100%
                background: white
                background: image_url("coluna_transparencia_historico.png") 0 0 repeat-x
                background: rgba(255,255,255,0.5)
                text-align: center
                padding: 5px
                .royalCaptionitem
                    color: $azul-barriga
                    font-size: 16px
        #historico-texto
            margin: 20px 10px
            padding: 0 15px
            float: right
            width: 350px
            height: $conteudo-height - 40px
            overflow-y: scroll
        #creditos
            width: 45%
            height: 100%
            background: image_url("creditos_bg.png") no-repeat
            padding-top: 150px
            +box-sizing(border-box)
            text-align: right
            .o-que
                padding: 5px 0 
                border-top: 1px solid $azul-barriga
                font-size: 18px
                color: $azul-barriga
            .quem
                color: $beje-escuro-barriga
                font-size: 15px
                a
                    color: inherit
    
