= partial "royalslider.haml", :locals => { :images_path => [  "fotos/foto_bala_1.jpg", "fotos/foto_bala_2.jpg", "fotos/foto_bala_3.jpg", "fotos/foto_bala_4.jpg"] }
                                                              


.legenda
  = image_tag "placa_bala_de_ovos.png"
