= partial "royalslider.haml", :locals => { :images_path => [  "/images/fotos/foto_bala.jpg", 
                                                              "/images/fotos/detalhe_bala.jpg"]}
                                                              


.legenda
  = image_tag "placa_bala_de_ovos.png"
