:erb
  <%= partial "royalslider.haml", 
        :locals => { :images_path => %w{  galeria_produtos/bala/bala_de_ovos_close2.jpg
                                          galeria_produtos/bala/bala_de_ovos_porcelana.jpg
                                          galeria_produtos/bala/bala_de_ovos_cristal.jpg
                                          galeria_produtos/bala/foto_bala_2.jpg
                                          
                                       } }

  %>

.legenda
  .arabesco-esquerda
  .texto-legenda Bala de Ovos
  .arabesco-direita
