:erb
  <%= partial "royalslider.haml", 
        :locals => { :images_path => %w{  galeria_produtos/barriga/barriga_close.jpg
                                          galeria_produtos/barriga/barriga_pilha.jpg
                                          galeria_produtos/barriga/barriga_bandeja_prata2.jpg
                                          galeria_produtos/barriga/barriga_porcelana_fundo_azul.jpg
                                          galeria_produtos/barriga/barriga_bandeja_prata.jpg
                                          galeria_produtos/barriga/foto_barriga_1.jpg
                                          galeria_produtos/barriga/foto_barriga_close.jpg
                                           } }
  %>

.legenda
  .arabesco-esquerda
  .texto-legenda Barriga de Freira
  .arabesco-direita  