:erb
  <%= partial "royalslider.haml", 
        :locals => { :images_path => %w{  galeria_produtos/pastel/pastel_santa_clara_close.jpg
                                          galeria_produtos/pastel/pastel_santa_clara_porcelana.jpg
                                          galeria_produtos/pastel/pastel_santa_clara_porcelana2.jpg 
                                       } }
  %>


.legenda
  .arabesco-esquerda
  .texto-legenda Pastel de Santa Clara
  .arabesco-direita
