= partial "royalslider.haml", :locals => { :images_path => [  " fotos/foto_pastel.jpg", 
                                                              " fotos/detalhe_pastel.jpg"]}


.legenda
  = image_tag "placa_pastel.png"
