= partial "royalslider.haml", :locals => { :images_path => [  "/images/fotos/foto_pastel.jpg", 
                                                              "/images/fotos/detalhe_pastel.jpg"]}


.legenda
  = image_tag "placa_pastel.png"
