= partial "royalslider.haml", :locals => { :images_path => [  "fotos/foto_pastel_1.jpg", "fotos/foto_pastel_2.jpg"]}


.legenda
  .arabesco-esquerda
  .texto-legenda Pastel de Santa Clara
  .arabesco-direita
