:erb
  <%= partial "royalslider.haml", 
        :locals => { :images_path => %w{  galeria_produtos/toucinho/foto_toucinho_4.jpg
                                          galeria_produtos/toucinho/foto_toucinho_1.jpg
                                          galeria_produtos/toucinho/foto_toucinho_3.jpg
                                       } }
  %>

.legenda
  .arabesco-esquerda
  .texto-legenda Mini Toucinho do Céu
  .arabesco-direita
