= partial "royalslider.haml", :locals => { :images_path => [  "fotos/foto_toucinho_1.jpg", "fotos/foto_toucinho_2.jpg", "fotos/foto_toucinho_3.jpg", "fotos/foto_toucinho_4.jpg"  ]}
                                                              
.legenda
  = image_tag "placa_toucinho.png"
