= partial "royalslider.haml", :locals => { :images_path => [  "/images/fotos/foto_toucinho_do_ceu.png" ]}
                                                              
.legenda
  = image_tag "placa_toucinho_do_ceu.png "
