= partial "royalslider.haml", :locals => { :images_path => [  "fotos/foto_toucinho_do_ceu.png" ]}
                                                              
.legenda
  = image_tag "placa_toucinho.png"
