#menu
  %ul
    %li#produtos-li.menu-item.dropdown
      %a{ :"data-toggle" => "dropdown", href: "#produtos-li" } 
        %span produtos
        .icone-menu
      %ul.dropdown-menu
        %li.menu-subitem
          .linha-horizontal
          %a{ href: "/produtos/barriga-de-freira.html" } barriga de freira
        %li.menu-subitem
          %a{ href: "/produtos/pastel-de-santa-clara.html" } pastel de santa clara
        %li.menu-subitem
          %a{ href: "/produtos/bala-de-ovos.html" } bala de ovos
        %li.menu-subitem
          %a{ href: "/produtos/toucinho-do-ceu.html" } mini toucinho do céu
          .linha-horizontal
        %li.dropmenu-footer
          = image_tag "dropdown_background_footer.png"
    .menu-item-gap
    %li.menu-item
      %a{ href: "/pedidos.html" } 
        %span pedidos
        .icone-menu
    .menu-item-gap
    %li.menu-item
      %a{ href: "/historico.html" }
        %span histórico
        .icone-menu
    .menu-item-gap
    %li.menu-item
      %a{ href: "/creditos.html" }
        %span créditos
        .icone-menu