#menu
  %ul
    %li#produtos-li.menu-item.dropdown
      %a{ :"data-toggle" => "dropdown", href: "#produtos-li" } 
        %span produtos
        .icone-menu
      %ul.dropdown-menu
        %li.menu-subitem
          .linha-horizontal-azul
          %a{ href: "/produtos/barriga-de-freira" } barriga de freira
          .cruz_de_divisao
        %li.menu-subitem
          %a{ href: "/produtos/pastel-de-santa-clara" } pastel de santa clara
          .cruz_de_divisao
        %li.menu-subitem
          %a{ href: "/produtos/bala-de-ovos" } bala de ovos
          .cruz_de_divisao
        %li.menu-subitem
          %a{ href: "/produtos/toucinho-do-ceu" } mini toucinho do céu
          .linha-horizontal-azul
        %li.dropmenu-footer
          = image_tag "dropdown_background_footer.png"
    .menu-item-gap
    %li.menu-item
      %a{ href: "/pedidos" } 
        %span pedidos
        .icone-menu
    .menu-item-gap
    %li.menu-item
      %a{ href: "/historico" }
        %span histórico
        .icone-menu
    .menu-item-gap
    %li.menu-item
      %a{ href: "/creditos" }
        %span créditos
        .icone-menu