#creditos
  .o-que
    Design e Programação
  .quem
    %a{:href => "http://www.arterial.tv"} Arterial.tv
    
  .o-que
    Fotografia
  .quem
    Sergio Greif
    %br
    Wagner Ziegelmeyer
    %br
    Joana Verdial