#historico-slider.royalSlider.default
  %ul.royalSlidesContainer
    %li.royalSlide
      = image_tag("fotos/foto_historico_1.jpg")
    
#historico-texto
  %p A história da doçaria conventual portuguesa está diretamente relacionada ao desenvolvimento econômico, social e cultural do país.

  %p Os doces estiveram sempre presentes no fausto das refeições dos conventos, mas somente a partir do século XV, com a divulgação do açúcar, atingiram notoriedade. O açúcar possibilitou a criação de várias “caldas”, que mãos sábias souberam encontrar e padronizar.

  %p Além de fortuna, os conventos tinham fácil acesso aos diferentes produtos para praticarem uma boa mesa.

  %p A cozinha era de responsabilidade dos padres, enquanto suas irmãs monjas ocupavam-se da confecção dos doces. Naquela época, a população feminina dos conventos era, na sua maioria, composta por mulheres que não tinham escolhido o hábito por fé, e sim por imposição social. Motivo pelo qual, para se entreterem durante o interminável tempo claustral, dedicavam-se a feitura dos doces.

  %p Os doces eram considerados um luxo! Representavam o “grand finale” de uma refeição! Também eram utilizados em grande quantidade nas comemorações das festas litúrgicas e vendidos não como manjar de príncipe, mas como doce do céu.

  %p Há 25 anos Monica e Naná procuram garantir a boa doçaria dos conventos, uma das maiores riquezas da cozinha portuguesa.
