#fundo-de-madeira-do-topo
	#logo.center
#faixa-verde-do-topo
#galeria-de-imagens

.container
	.row
		.span12
			#barra-de-divisao-com-logo
	.row
		.span7
			#conheca-a-nebbiolo
				= image_tag "conheca-a-nebbiolo.png"
				= lorem.paragraph
		.span5
			#novidades
				= partial "twitter"