#conteudo-esquerda-pedido

  #box-monica-nana
    %p Monica & Naná
    .hr
    .cruzes
    .telefone (21) 2557.4076
    .telefone (21) 2556.3460
    .hr
    %p Rio de Janeiro
    
  %p#atendemos Atendemos as principais capitais do Brasil. Ligue e faça o seu pedido.


#conteudo-direita-pedido
  %p#se_preferir Se preferir, preencha os campos abaixo e entraremos em contato com você
  = partial "formulario_de_pedido.haml"


#confirmacao-pedido
  #placa-confirmacao-pedido